SECRET_KEY='your-secret-key'
DEBUG=True
DATABASE_NAME='your-database-name'
DATABASE_USER='your-username'
DATABASE_PASSWORD='your-server_password'
DATABASE_HOST='your-host'
DATABASE_PORT='your-port'
REDIS_URL=
STRIPE_TEST_SECRET_KEY=
STRIPE_TEST_PUBLIC_KEY=